<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>¿Que princesa disney eres?</title>
</head>

<body>
    <div class="jumbotron">
        <div class="d-flex justify-content-center">
            <h1 class="display-4">¡Este es tu resultado!</h1>
        </div>
        <hr class="my-4">
        <div class="d-flex justify-content-center">
            <h3>Has obtenido un total de <span th:utext=${sessionResultado}></span> puntos por lo que tu princesa disney es... </h3>
        </div>
        <div th:if="${sessionResultado < 10}">
        <div class="d-flex justify-content-center" >
        	<img alt="Princesa Resultado" th:src="@{images/tiana.jpg}">
        </div>
        <div class="d-flex justify-content-center" >
        	<h3><br>¡Tiana es tu princesa disney!</h3>
        </div>
        </div>
        <div th:if="${sessionResultado >= 10 and sessionResultado < 15}">
        <div class="d-flex justify-content-center" >
        	<img alt="Princesa Resultado" th:src="@{images/cenicienta.jpg}">
        </div>
        <div class="d-flex justify-content-center" >
        	<h3><br>¡Cenicienta es tu princesa disney!</h3>
        </div>
        </div>
        <div th:if="${sessionResultado >= 15 and sessionResultado < 20}">
        <div class="d-flex justify-content-center" >
        	<img alt="Princesa Resultado" th:src="@{images/jasmin.jpg}">
        </div>
        <div class="d-flex justify-content-center" >
        	<h3><br>¡Jasmin es tu princesa disney!</h3>
        </div>
        </div>
        <div th:if="${sessionResultado >= 20}">
        <div class="d-flex justify-content-center" >
        	<img alt="Princesa Resultado" th:src="@{images/Ariel.jpg}">
        </div>
        <div class="d-flex justify-content-center" >
        	<h3><br>¡Ariel es tu princesa disney!</h3>
        </div>
        </div>
        <br />
        <div class="form-group">
            <form th:action="@{/destroy}" method="post">
                <br><button type="submit" class="btn btn-secondary btn-lg btn-block">¡Empezar de nuevo!</button>
            </form>
        </div>
    </div>
    <div>
        <h2>Usuarios</h2>
        <ul th:each="message : ${sessionMessages}">
            <li th:text="${message}">nombre</li>
        </ul>
    </div>
    <div>
        <h2>Puntuaciones</h2>
        <ul th:each="puntuaciones : ${sessionPuntuacion}">
            <li th:text="${puntuaciones}">puntos</li>
        </ul>
    </div>
     <div>
        <h2>Resultado</h2>
        <p th:text="${sessionResultado}"></p>
    </div>
    <div>
    <table class="table">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nombre</th>
						<th scope="col">Puntuacion</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="jugador: ${jugadores}">
						<td th:text="${jugador.id}" />
						<td th:text="${jugador.name}" />
						<td th:text="${jugador.puntuacion}" />
						<td th:text="${sessionResultado}"/>
					</tr>
					<p th:text="${sessionResultado}"></p>
			</table>
			</div>
</body>
</html>