<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<title>Pagina 2</title>
</head>

<body>
	<div class="jumbotron">
		<div class="d-flex justify-content-center">
			<h1 class="display-4">¿Qué paises te gustaría visitar?</h1>
		</div>
		<hr class="my-4">
		<div class="container">
			<div class="d-flex justify-content-center">
				<img th:src="@{images/mapamundi.jpg}" class="img-fluid" alt="Mapa del mundo">
			</div>
			<br>
			<div class="form-group">
				<form th:action="@{/paginaSiguiente}" method="post">
			<div class="d-flex justify-content-center">
			<fieldset class="form-group form-group-lg">
				<div class="form-check mx-2">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" value="1" name="puntuacion">
						<h4>Paris</h4>
					</label>
				</div>
				<div class="form-check mx-2">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" value="1" name="puntuacion">
						<h4>Roma</h4>
					</label>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<div class="form-check mx-2">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" value="1" name="puntuacion">
						<h4>Londres</h4>
					</label>
				</div>
				<div class="form-check mx-2">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" value="2" name="puntuacion">
						<h4>Tokyo</h4>
					</label>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<div class="form-check mx-2">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" value="2" name="puntuacion">
						<h4>Dubai</h4>
					</label>
				</div>
				<div class="form-check mx-2">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" value="3" name="puntuacion">
						<h4>Perú</h4>
					</label>
				</div>
			</fieldset>
			</div>
					<br><button type="submit" class="btn btn-primary btn-lg btn-block" value="0" name="puntuacion">Siguiente Pregunta</button>
				</form>
			</div>
		</div>
	</div>

	<div>
		<h2>Usuarios</h2>
		<ul th:each="message : ${sessionMessages}">
			<li th:text="${message}">nombre</li>
		</ul>
	</div>
	<div class="form-group">
		<form th:action="@{/volverInicio}" method="post">
			<br><button type="submit" class="btn btn-primary btn-lg btn-block">Volver</button>
		</form>
	</div>
	<div>
			<h2>Puntuaciones</h2>
			<ul th:each="puntuaciones : ${sessionPuntuacion}">
						<li th:text="${puntuaciones}">puntos</li>
			</ul>
	</div>
</body>

</html>