<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<title>¿Que princesa disney eres?</title>
</head>

<body>
	<div class="jumbotron">
		<div class="d-flex justify-content-center">
			<h1 class="display-4">¿Dónde prefieres pasar tus vacaciones?</h1>
		</div>
		<hr class="my-4">
		<div class="container">
			<div class="d-flex justify-content-center">
				<img th:src="@{images/vacaciones.jpg}" class="img-fluid" alt="Vacaciones">
			</div>
			<br>
			<div class="form-group">
				<form th:action="@{/paginaSiguiente}" method="post">
					<div class="d-flex justify-content-center">
						<fieldset class="form-group form-group-lg">
							<div class="custom-control custom-radio mx-2">
								<input type="radio" id="radioMontaña" name="radio" class="custom-control-input"checked="" value="1">
								<label class="custom-control-label" for="radioMontaña"><h4>Montaña</h4>
								</label>
							</div>
							<div class="custom-control custom-radio mx-2">
								<input type="radio" id="radioPlaya" name="radio" class="custom-control-input"checked="" value="2">
								<label class="custom-control-label" for="radioPlaya"><h4>Playa</h4>
								</label>
							</div>
						</fieldset>
						<fieldset class="form-group form-group-lg">
							<div class="custom-control custom-radio mx-2">
								<input type="radio" id="radioPueblo" name="radio" class="custom-control-input"checked="" value="2">
								<label class="custom-control-label" for="radioPueblo"><h4>Pueblo</h4>
								</label>
							</div>
							<div class="custom-control custom-radio mx-2">
								<input type="radio" id="radioCiudad" name="radio" class="custom-control-input"checked="" value="3">
								<label class="custom-control-label" for="radioCiudad"><h4>Ciudad</h4>
								</label>
							</div>
						</fieldset>
					</div>
					<br><button type="submit" class="btn btn-primary btn-lg btn-block" value="0"
						name="puntuacion">Siguiente Pregunta</button>
				</form>
			</div>
		</div>
	</div>

	<div>
		<h2>Usuarios</h2>
		<ul th:each="message : ${sessionMessages}">
			<li th:text="${message}">nombre</li>
		</ul>
	</div>
	<div class="form-group">
		<form th:action="@{/volverInicio}" method="post">
			<br><button type="submit" class="btn btn-primary btn-lg btn-block">Volver</button>
		</form>
	</div>
	<div>
		<h2>Puntuaciones</h2>
		<ul th:each="puntuaciones : ${sessionPuntuacion}">
			<li th:text="${puntuaciones}">puntos</li>
		</ul>
	</div>
</body>

</html>