<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>¿Que princesa disney eres?</title>
</head>

<body>
    <div class="jumbotron">
        <div class="d-flex justify-content-center">
            <h1 class="display-4">¿Qué deporte te gusta más?</h1>
        </div>
        <div class="container">
            <hr class="my-4">
            <div class="d-flex justify-content-center">
                <img th:src="@{images/deportes.jpg}" class="img-fluid" alt="Animales">
            </div>
            <br>
            <div class="form-group">
                <form th:action="@{/paginaFinal}" method="post">
                    <div class="d-flex justify-content-center">
                        <fieldset class="form-group form-group-lg">
                            <div class="form-group">
                                <label for="exampleSelect1">Elige un deporte:</label>
                                <select class="form-control" id="exampleSelect1" name="puntuacion">
                                    <option value="1">Futbol</option>
                                    <option value="1">Baloncesto</option>
                                    <option value="2">Volleyball</option>
                                    <option value="3">Petanca</option>
                                    <option value="4">Beisbol</option>
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <br><button type="submit" class="btn btn-primary btn-lg btn-block"
                        name="puntuacion">Siguiente Pregunta</button>
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-end">
			<form th:action="@{/destroy}" method="post">
					<button type="submit" class="btn btn-secondary">Reiniciar Test</button>
			</form>
		</div>
    </div>
</body>

</html>